{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title_login %}Title Here{% endblock title_login %}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'auth/login/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'auth/login/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	
	<link rel="stylesheet" type="text/css" href="{% static 'auth/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'auth/login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'auth/login/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'auth/login/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'auth/login/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'auth/login/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'auth/login/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
{% block styles %}
{% endblock styles %}
<!--===============================================================================================-->
</head>
<body {% block body_data %}{% endblock body_data %} >


{% block main %}

{% endblock main %}




	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="{% static 'auth/login/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--=============================================================================================-->
	<script src="{% static 'auth/login/vendor/animsition/js/animsition.min.js' %}"></script>
<!--============================================================================================-->
	<script src="{% static 'auth/login/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'auth/login/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===========================================================================================-->
	<script src="{% static 'auth/login/vendor/select2/select2.min.js' %}"></script>
<!--============================================================================================-->
	<script src="{% static 'auth/login/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'auth/login/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--=============================================================================================-->
	<script src="{% static 'auth/login/vendor/countdowntime/countdowntime.js' %}"></script>
<!--==============================================================================================-->
	<script src="{% static 'auth/login/js/main.js' %}"></script>

</body>
</html>